* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'microsoft yahei',Verdana,Arial,Helvetica,sans-serif;
  a{
      text-decoration: none;
     
  }

}

  .g-header {
    width: 100%;
    background: #76d49b;
    ul {
      width: 96%;
      display: flex;
      font-size: 3rem;
      justify-content: space-between;
      padding: 2% 2%;
      align-items: center;
      color: white;
      


      }
    }
.g-content{
  width:100%;
  background: #f1f1f1;
 padding-bottom:2%;

  >p{

    width: 100%;
    padding: 3% 0;

    padding-left: 40%;
    >img{
      margin: 3% 0 0 0;
      width: 40%;
    }
  }
  >div{
    width: 40%;

    text-align: center;
    margin:0 30% 3%;
    display: flex;
    >p{
      width: 50%;
      padding: 4% 0;

     font-size: 1.5rem;
    }
    >p:nth-child(1){
      background: #2ad2c9;
      border-radius: 5px 0  0 5px;

      color: white;
    }
    >p:nth-child(2){
      background: white;
      border-radius: 0 5px 5px 0 ;
      color:#2ad2c9;
    }
  }
}
.g-content1{
  width: 100%;
  display: flex;
  justify-content: space-around;
  .g-c-l{
    font-size: 1.5rem;
    margin: 2% 0;
    text-align: center;
    width: 33%;

    >p:nth-child(1){
      color: #2ad2c9;

    }

  }
  .g-c-l:nth-child(1),.g-c-l:nth-child(2){
    border-right: 1px  solid #2ad2c9;
  }
}
.g-xian{
  width: 100%;
  padding: 1% 0;
  background: #f1f1f1;
}

.g-s{
  width: 100%;
  display: flex;
  padding: 2% 0;
  border-bottom:1px  solid gainsboro ;
  p{

    font-size: 1.5rem;
  }
  p:nth-child(1){
    width: 10%;
    img{
      vertical-align: middle;
      width: 80%;
    }
  }
  p:nth-child(2){
    padding-top: 1.5%;
    align-items: center;
    width: 80%;
  }
  p:nth-child(3){
    padding-top: 1.5%;
    width: 10%;
    padding-left: 6%;
    color: darkgray;
  }
}

.g-f{
  width: 100%;
  padding: 2% 0;
  color: grey;
  text-align: center;
}